.container{
    margin-top: 20px;
}

button{
    margin: 0px 5px 0px 5px;
}

.row{
    margin: 5px 0px 5px 0px;
}

#home_title{
    margin: 10px 0px 10px 0px;
}

.button_home{
    margin: 10px 0px 10px 0px;
}

#seccion_producto{
    margin: 25px 0px 25px 0px;
}